<html>
<div th:fragment="userlist">
    <div class="userlist">
        <!-- search user -->
        <div class=" ">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Name…" aria-label="Search Name…"
                    aria-describedby="button-addon2">
            </div>

        </div>
        <!-- user list -->
        <div class="userRow" th:each="user: ${allUsers}">
            <img th:src="${user.image}" alt="" class="profileImg">
            <div class="userInfo">
                <div class="">
                    <a th:action = "@{/chatDetail}" th:object = "${user.username}" th:onclick="clickUser([[${user.username}]])" method="post">
                        <span class="userName" th:text="${user.firstName}">
                            First Name
                        </span>
                        <span class="userName" th:text="${user.lastName}">
                            Last Name
                        </span>
                    </a>
                    <div class="msg" th:text="${user.username}" th:id = "${user.id}">
                        Hi, how are you?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>