<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<div class="chatPage">
    <div class="container-fluid">
        <div class="row content">
            <!-- left side -->
            <div class="col-md-2 bgColor">
                <div class="" th:replace="menuleft :: menuleft"></div>
            </div>
            <!-- chat list -->
            <div class="col-md-3 ">
                <div class="" th:replace="userlist :: userlist"></div>
            </div>

            <form id="leaveChatForm" th:action="@{/chat}" data-bind="visible: activePollingXhr() != null">
                <p>
                    You're chatting as <strong data-bind="text: userName"></strong>
                    <button id="leave" type="submit" data-bind="click: leaveChat">Leave Chat</button>
                </p>
            </form>

            <!-- chat main -->
            <div class="col-md-7 centerContent chatMain" data-bind="visible: selectedUser() != null">
                <h2 data-bind="text: selectedUser().fullName"></h2>
                <div class="chatMessages" data-bind="foreach: selectedUser().messages">
                    <div class="msgRow">
                        <img src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg">
                        <div class="msgLeft" data-bind="visible: senderId() !== currentUser().id()">
                            <div class="msgUpper">
                                <div class="userName" data-bind="text: senderName()"></div>
                                <div class="time" data-bind="text: sentTime()"></div>
                            </div>
                            <div class="msgFull">
                                <div class="msg" data-bind="text: content()"></div>
                            </div>
                        </div>
                        <div class="msgSpacer"></div>
                        <div class="msgRight" data-bind="visible: senderId() === currentUser().id()">
                            <div class="msgUpper">
                                <div class="userName" data-bind="text: senderName()"></div>
                                <div class="time" data-bind="text: sentTime()"></div>
                            </div>
                            <div class="msgFull">
                                <div class="msg" data-bind="text: content()"></div>
                            </div>
                        </div>
                        <img src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg">
                    </div>
                </div>
                <div class="sendMessage">
                    <div class="sendMessageContent">
                        <input type="text" class="form-control inputMessage" placeholder="Type your message here..." data-bind="textInput: newMessageContent">
                    </div>
                    <div class="sendMessageButton">
                        <button type="button" class="btn btn-primary" data-bind="click: sendMessage">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
