<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

<head th:replace="fragments :: head"></head>

<body>
    <!-- chat page html -->
    <div class="chatPage">
        <div class="container-fluid">
            <div class="row content">
                <!-- left side -->
                <div class="col-md-2 bgColor">
                    <div class="" th:replace="menuleft :: menuleft"></div>
                </div>
                <!-- chat list -->
                <div class="col-md-3 ">
                    <div class="userlist">
                        <!-- search user -->
                        <div class=" ">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search Name…"
                                    aria-label="Search Name…" aria-describedby="button-addon2">
                            </div>

                        </div>
                        <!-- user list -->
                        <div class="userRow" th:each="user: ${allUsers}" th:id="${user.id}">
                            <img th:src="${user.image}" alt="" class="profileImg">
                            <div class="userInfo">
                                <div class="">
                                    <a th:action="@{/userDetail2}" th:object="${user.username}" th:onclick="clickUser([[${user.id}]], [[${senderID}]],
                                        [[${user.firstName + user.lastName}]], [[${senderName}]],
                                        [[${user.image}]], [[${senderImage}]]
                                        )" method="post">
                                        <span class="userName" th:text="${user.firstName}">
                                            First Name
                                        </span>
                                        <span class="userName" th:text="${user.lastName}">
                                            Last Name
                                        </span>
                                    </a>
                                    <div class="msg" th:text="${user.username}">
                                        Hi, how are you?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- login form -->
                <div class="col-md-7 centerContent chatMain">
                    <div class="chatMessages" id="chatWindow">
                        <div class="msgRow" th:each="message: ${messages}">
                            <img src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg">
                            <!--                            <div class="msgRight" >-->
                            <div
                                th:class="${message.sender == #httpSession.getAttribute('username')} ? 'msgRight' : 'msgLeft'">
                                <div class="msgUpper">
                                    <div class="userName">
                                        <span th:if="${message.sender eq #httpSession.getAttribute('username')}"
                                            th:text="${message.sender}"></span>
                                        <span th:if="${message.sender ne #httpSession.getAttribute('username')}"
                                            th:text="${message.sender}"></span>
                                    </div>
                                    <div class="time" th:text="${message.timestamp}">
                                    </div>
                                </div>
                                <div class="msgFull">
                                    <div class="msg" th:text="${message.content}">
                                    </div>
                                </div>

                            </div>
                            <div class="msgSpacer"></div>
                        </div>
                    </div>
                    <form action="/sendMsg" method="post" id="message-form">
                        <div class="sendMessage">

                            <div class="sendMessageContent">
                                <input type="text" class="form-control inputMessage" id="content" name="content"
                                    placeholder="Type your message here...">
                            </div>
                            <div class="sendMessageButton">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>

                        </div>
                    </form>
                    <script type="text/javascript">

                        var receiverID = "";
                        var senderID = "";
                        var receiverFullName = "";
                        var senderFullName = "";

                        var senderImage = "https://static.thenounproject.com/png/2416938-200.png";
                        var receiverImage = "https://static.thenounproject.com/png/2416938-200.png";

                        var msgTotalSize = 0;


                        function clickUser(receiver_id, sender_id,
                            receiver_full_name, sender_full_name,
                            receiver_image, sender_image
                        ) {

                            receiverID = receiver_id;
                            senderID = sender_id;
                            receiverFullName = receiver_full_name;
                            senderFullName = sender_full_name;
                            receiverImage = receiver_image;
                            senderImage = sender_image;

                            console.log("receiverID: " + receiverID);
                            console.log("senderID: " + senderID);
                            console.log("receiverFullName: " + receiverFullName);
                            console.log("senderFullName: " + senderFullName);
                            getMsg();

                            //if the receiver is not "" and the sender is not "", 
                            //then remove messages and get the messages every 2 seconds
                            if (receiverID != "" && senderID != "") {
                                setInterval(
                                    function () {

                                        /*while (chatWindow.firstChild) {
                                            chatWindow.removeChild(chatWindow.firstChild);
                                        }*/
                                        getMsg();
                                    }, 2000);
                            }


                        }

                        function getMsg() {
                            $.ajax({
                                url: '/getMessages',
                                type: 'POST',
                                data: {
                                    receiver: receiverID,
                                    sender: senderID,
                                },
                                success: function (data) {
                                    console.log("success");
                                    console.log(data);
                                    //empty input field

                                    addChatMessage(JSON.parse(data));
                                },
                                error: function (data) {
                                    console.log("error");
                                    console.log(data);
                                }
                            });
                        }

                        function addChatMessage(data) {
                            //use json data to generate html
                            //append to chat window

                            //check if data is empty or data is not an array
                            if (data == null || !Array.isArray(data)) {
                                console.log("data error: data is empty or not an array");
                                return;
                            } else {
                                console.log("data GOOD");
                                //if number of .msgRow is equal to number of messages in data, then return

                                console.log("msgTotalSize: " + msgTotalSize);
                                console.log("data.length: " + data.length);
                                if (msgTotalSize == data.length) {
                                    console.log("return");
                                    return;
                                } else {
                                    //if chatWindow has children, remove all children
                                    $("#chatWindow").empty();
                                }


                            }

                            var msgCount = 0;

                            //for each message in data
                            for (const message of data) {
                                console.log("Loop: " + message.content + " " + message.sender + " " + message.receiver + " " + message.timestamp);

                                msgCount++;

                                var msg = message.content;
                                var sender = message.sender;
                                var receiver = message.receiver;
                                var timestamp = message.timestamp;
                                var pimage = message.image;

                                var msgRow = document.createElement("div");
                                msgRow.className = "msgRow";

                                var msgSpacer = document.createElement("div");
                                msgSpacer.className = "msgSpacer";

                                var msgSide = document.createElement("div");
                                //set msgSide to msgRight if sender is not current user
                                if (sender == senderID) {
                                    msgSide.className = "msgLeft";
                                } else if (sender == receiverID) {
                                    msgSide.className = "msgRight";
                                } else {
                                    console.log("error: sender id does not match");
                                }

                                var msgUpper = document.createElement("div");
                                msgUpper.className = "msgUpper";

                                var userName = document.createElement("div");
                                userName.className = "userName";
                                //get name of sender and receiver
                                if (sender == senderID) {
                                    userName.innerHTML = senderFullName;
                                } else if (sender == receiverID) {
                                    userName.innerHTML = receiverFullName;
                                } else {
                                    console.log("error: sender id does not match");
                                }

                                var profileImg = document.createElement("img");
                                profileImg.className = "profileImg";
                                //get profile image of sender and receiver
                                if (sender == senderID) {
                                    profileImg.src = senderImage;
                                } else if (sender == receiverID) {
                                    profileImg.src = receiverImage;
                                } else {
                                    console.log("error: sender id does not match");
                                }



                                var time = document.createElement("div");
                                time.className = "time";
                                //reformat timestamp
                                var newTime = new Date(timestamp);
                                //format time in month, day and time
                                newTime = newTime.toLocaleString('en-US', { month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true });
                                time.innerHTML = newTime;

                                var msgFull = document.createElement("div");
                                msgFull.className = "msgFull";

                                var msgContent = document.createElement("div");
                                msgContent.className = "msg";
                                msgContent.innerHTML = msg;

                                //add msgCount to msgRow, set an attribute to msgRow
                                msgRow.setAttribute("msgCount", msgCount);


                                //set message to left or right
                                if (sender == senderID) {

                                    msgRow.appendChild(msgSpacer);
                                    msgRow.appendChild(msgSide);
                                    msgRow.appendChild(profileImg);
                                    msgSide.appendChild(msgUpper);
                                    msgUpper.appendChild(userName);
                                    msgUpper.appendChild(time);
                                    msgSide.appendChild(msgFull);
                                    msgFull.appendChild(msgContent);

                                } else if (sender == receiverID) {
                                    msgRow.appendChild(profileImg);
                                    msgRow.appendChild(msgSide);
                                    msgSide.appendChild(msgUpper);
                                    msgUpper.appendChild(userName);
                                    msgUpper.appendChild(time);
                                    msgSide.appendChild(msgFull);
                                    msgFull.appendChild(msgContent);
                                    msgRow.appendChild(msgSpacer);
                                } else {
                                    console.log("error: sender id does not match");
                                }


                                var chatWindow = document.getElementById("chatWindow");
                                chatWindow.appendChild(msgRow);
                            }

                            msgTotalSize = msgCount;
                        }


                        // send message to server
                        const form = document.querySelector('#message-form');
                        form.addEventListener('submit', (event) => {
                            event.preventDefault();

                            var msg = document.getElementById("content").value;
                            console.log("msg: " + msg);
                            $.ajax({
                                url: '/add',
                                type: 'POST',
                                data: {
                                    content: msg,
                                    receiver: receiverID,
                                },
                                success: function (data) {
                                    console.log("success");
                                    //console.log(data);
                                    var chatWindow = document.getElementById("chatWindow");

                                    //clear chat window
                                    while (chatWindow.firstChild) {
                                        chatWindow.removeChild(chatWindow.firstChild);
                                    }

                                    //get new messages
                                    getMsg();


                                },
                                error: function (data) {
                                    console.log("error");
                                    console.log(data);
                                }
                            });
                        });

                        function scrollToBottom() {
                            var chatMessages = document.querySelector('.chatMessages');
                            chatMessages.scrollTop = chatMessages.scrollHeight;
                        }

                        window.onload = function () {
                            scrollToBottom();
                        };
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- <div th:replace="fragments :: footer"></div> -->
    <div class="msgSpacer"></div>
</body>

</html>