<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div class="chatPage">
        <div class="container-fluid">
            <div class="row content">
                <!-- left side -->
                <div class="col-md-2 bgColor">
                    <div class="" th:replace="menuleft :: menuleft"></div>
                </div>
                <!-- chat list -->
                <div class="col-md-3 ">
                    <div class="" th:replace="userlist :: userlist"></div>
                </div>
                <!-- login form -->
                <div class="col-md-7 centerContent contactMain">
                    <div class="contact">

                        <img src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg">
                        <h3 class="mt-3">Aiden Smith</h3>
                        <p>aiden@email.com</p>
                        <p class="mt-2">Project Manager</p>
                        <p>20, Feb. 2020 JOINED</p>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-block mt-3"><a href="/chat">Message</a></button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-outline-primary btn-block mt-3"><a href="/clear">Clear Message</a></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <div th:replace="fragments :: footer"></div> -->
</body>

</html>