<html>
<div th:fragment="menuleft">
    <div class="centerContent">
        <div class="content-inner  leftMenu">

            <div class="menuTop">
                <p class="menuItem"><a href="/chat">CHAT</a></p>
                <p class="menuItem"><a href="/contact">CONTACT</a></p>
                <p class="menuItem"><a href="/setting">SETTING</a></p>
            </div>
            <div class="menuBottom">
                <p class="menuItem"><a th:href="@{/logout}">LOGOUT</a></p>
            </div>
        </div>
    </div>

</div>

</html>