<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

<head th:replace="fragments :: head"></head>

<body>

    <div class="chatPage">
        <div class="container-fluid">
            <div class="row content">
                <!-- left side -->
                <div class="col-md-2 bgColor">
                    <div class="" th:replace="menuleft :: menuleft"></div>
                </div>
                <!-- chat list -->
<!--                <div class="col-md-3 ">-->
<!--                    <div class="" th:replace="userlist :: userlist"></div>-->
<!--                </div>-->

                <!-- login form -->
                <div class="col-md-7 centerContent settingMain">
                    <div class="setting">
                        <h1>SETTING</h1>
                        <img id="image" src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg mt-3">
                        <div class="mt-2">
                            <label for="userName">userName</label>
                            <input type="text" class="form-control" id="userName" placeholder="userName" value="" th:value="${user.username}">
                        </div>
                        <div class="mt-2">
                            <label for="firstName">firstName</label>
                            <input type="text" class="form-control" id="firstName" placeholder="firstName" value="" th:value="${user.firstName}">
                        </div>
                        <div class="mt-2">
                            <label for="lastName">lastName</label>
                            <input type="text" class="form-control" id="lastName" placeholder="lastName" value="" th:value="${user.lastName}">
                        </div>
                        <div class="mt-2">
                            <label for="email">email</label>
                            <input type="text" class="form-control" id="email" placeholder="email"
                                value="" th:value="${user.email}">
                        </div>
                        <div class="mt-2">
                            <label for="title">title</label>
                            <input type="text" class="form-control" id="title" placeholder="Title"
                                value="" th:value="${user.title}">
                        </div>

                        <div class="mt-2">
                            <label for="imageAddress">imageAddress</label>
                            <input type="text" class="form-control" id="imageAddress" placeholder="imageAddress"
                                   value="">
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block mt-3" onclick="save()">save</button>
                                <button type="button" class="btn btn-primary btn-block mt-3" onclick="deleteUser()">delete</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <div th:replace="fragments :: footer"></div> -->
</body>
<script type="text/javascript">
    function save(){
        $.ajax({
            url: 'save', 	// Request URL to send data to
            data: {		// Request parameters, separated by commas when multiple
                username: $("#userName").val(),
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                email: $("#email").val(),
                title:$("#title").val(),
                image:$("#imageAddress").val(),
            },
            type: 'post',		// Request method, either 'get' or 'post'
            dataType: 'json',
            success: function (res) { // Executes if request is successful, res is the response data
                alert(res.msg);
                location.reload();
            },
            error: function (xhr, errorMessage, e) { // Executes if request encounters an error, parameters' names should not be changed
                alert(errorMessage);
            }
        });
    };

    function deleteUser() {
        const username = $("#userName").val();
        const confirmMessage = `Are you sure you want to delete all information for user ${username}?`;
        const confirmed = confirm(confirmMessage);

        if (confirmed) {
            $.ajax({
                url: 'delete',
                data: {
                    username: username
                },
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    alert(res.msg);
                    $("#user-" + username).remove();
                    window.location.replace("/logout");
                },
                error: function (xhr, errorMessage, e) {
                    alert("There was an error deleting the user information. Please check your network connection or contact your administrator.");
                }
            });
        }
    }


    function clickUser(username){
        $.ajax({
            url: 'search', 	// Request URL to send data to
            data: {		// Request parameters, separated by commas when multiple
                username: username,
            },
            type: 'post',		// Request method, either 'get' or 'post'
            dataType: 'json',
            success: function (res) { // Executes if request is successful, res is the response data
                $("#image").attr("src", res.data.image);
                $("#userName").val(res.data.username);
                $("#firstName").val(res.data.firstName);
                $("#lastName").val(res.data.lastName);
                $("#email").val(res.data.email);
                $("#title").val(res.data.title);
                $("#imageAddress").val(res.data.image);
            },
            error: function (xhr, errorMessage, e) { // Executes if request encounters an error, parameters' names should not be changed
                alert(errorMessage);
            }
        });
    }

    function searchAllUser(){
        $.ajax({
            url: 'setting', 	// Request URL to send data to
            type: 'post',		// Request method, either 'get' or 'post'
            dataType: 'json',
            success: function (res) { // Executes if request is successful, res is the response data
                userlist = res.data;
            },
            error: function (xhr, errorMessage, e) { // Executes if request encounters an error, parameters' names should not be changed
                alert(errorMessage);
            }
        });
    }
</script>



</html>
