<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

<head th:replace="fragments :: head"></head>

<body>

    <div class="chatPage">
        <div class="container-fluid">
            <div class="row content">
                <!-- left side -->
                <div class="col-md-2 bgColor">
                    <div class="" th:replace="menuleft :: menuleft"></div>
                </div>
                <!-- chat list -->
<!--                <div class="col-md-3 ">-->
<!--                    <div class="" th:replace="userlist :: userlist"></div>-->
<!--                </div>-->

                <!-- login form -->
                <div class="col-md-7 centerContent settingMain">
                    <div class="setting">
                        <h1>SETTING</h1>
                        <img id="image" src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg mt-3">
                        <div class="mt-2">
                            <label for="userName">userName</label>
                            <input type="text" class="form-control" id="userName" placeholder="userName" value="" th:value="${user.username}">
                        </div>
                        <div class="mt-2">
                            <label for="firstName">firstName</label>
                            <input type="text" class="form-control" id="firstName" placeholder="firstName" value="" th:value="${user.firstName}">
                        </div>
                        <div class="mt-2">
                            <label for="lastName">lastName</label>
                            <input type="text" class="form-control" id="lastName" placeholder="lastName" value="" th:value="${user.lastName}">
                        </div>
                        <div class="mt-2">
                            <label for="email">email</label>
                            <input type="text" class="form-control" id="email" placeholder="email"
                                value="" th:value="${user.email}">
                        </div>
                        <div class="mt-2">
                            <label for="title">title</label>
                            <input type="text" class="form-control" id="title" placeholder="Title"
                                value="" th:value="${user.title}">
                        </div>

                        <div class="mt-2">
                            <label for="imageAddress">imageAddress</label>
                            <input type="text" class="form-control" id="imageAddress" placeholder="imageAddress"
                                   value="">
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block mt-3" onclick="save()">save</button>
                                <button type="button" class="btn btn-primary btn-block mt-3" onclick="deleteUser()">delete</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <div th:replace="fragments :: footer"></div> -->
</body>




</html>