<html>
<div th:fragment="userlist">
    <div class="userlist">
        <!-- search user -->
        <div class=" ">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Name…" aria-label="Search Name…"
                    aria-describedby="button-addon2">
            </div>

        </div>
        <!-- user list -->
        <div class="userRow" th:each="user: ${allUsers}">
            <img src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg">
            <div class="userInfo">
                <div class="">
                    <a th:action = "@{/userDetail}" th:object = "${user.username}" method="post">
                        <span class="userName" th:text="${user.firstName}">
                            First Name
                        </span>
                        <span class="userName" th:text="${user.lastName}">
                            Last Name
                        </span>
                    </a>
<!--                    <div class="time">-->
<!--                        12:00-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="msgLower">-->
<!--                    <div class="msg">-->
<!--                        Hi, how are you?-->
<!--                    </div>-->
                </div>

            </div>
        </div>

<!--        <div class="userRow">-->
<!--            <img src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg">-->
<!--            <div class="userInfo">-->
<!--                <div class="msgUpper">-->
<!--                    <div class="userName">-->
<!--                        Aidan-->
<!--                    </div>-->
<!--                    <div class="time">-->
<!--                        12:00-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="msgLower">-->
<!--                    <div class="msg">-->
<!--                        Hi, how are you?-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--        <div class="userRow">-->
<!--            <img src="https://static.thenounproject.com/png/2416938-200.png" alt="" class="profileImg">-->
<!--            <div class="userInfo">-->
<!--                <div class="msgUpper">-->
<!--                    <div class="userName">-->
<!--                        Aidan-->
<!--                    </div>-->
<!--                    <div class="time">-->
<!--                        12:00-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="msgLower">-->
<!--                    <div class="msg">-->
<!--                        Hi, how are you?-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
    </div>
</div>

</html>